
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://images.pexels.com/photos/1087897/pexels-photo-1087897.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat:no-repeat ;
    background-size: 2000px 2400px;
}
.nav-link {
    background-color:#d6883f ;
    font-family:'Josefin Sans';
    margin: 5px;
    padding: 3px;
    border-radius: 6px;
    border: 1px solid rgb(244,190 ,190) ;
    
}
.navbar-brand{
    color: rgb(231,141 ,141);
    font-size: 40px;
}
.navbar-brand:hover{
    color: rgb(231,141 ,141);
    font-size: 40px;
    
}

.cababme{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabab{
    font-family:'Pink+Lemonade';
}
.prawnme{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.prawn{
    font-family: 'Pink+Lemonade';
}
.drinksme{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.drinks{
    font-family: 'Pink+Lemonade';
    font-feature-settings: "afrc";
    
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  
  min-height: 100vh;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
.waviym {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviym span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviym 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviym {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
  .waviyn {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviyn span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviyn 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviyn {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
  .btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #d6883f;
  }
  .img1{
    height: 160px;
    width: 100%;
  }
  .clsaabout1{
    font-size: 15px;
    color: white; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .abt{
    color: white;
  }
  .dis{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .card-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .cls1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
  }

  .card-img-top{
    height: 140px;
    

  }
  .card-img-top {
    transform: scale(1);
    transition: .3s ease-in-out;

  }
  .card-img-top:hover{
    transform: scale(1.2);
  }
  .card1{
    overflow:hidden
  }
  .order{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 40px;
  }
  .imgtop{
    height: 140px;
  }
  .cont{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #d6883f;
  }
  .abtus{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .card-title{
    font-family:'Jonesy-Script' ;
  }
.interior{
  font-size: 45px;
  color: #d6883f;
}
.video{
 padding: 0;
  width: 1100px;
  height: 400px;
  align-items: center;
}
.inte{
  color:rgb(231,141 ,141)
   ;
}